.App {
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

.signed-in-display {
  padding: 0;
  padding-top: 1vh;
  grid-area: signed;
  margin-bottom: 0.5vh;
  height: 4vh;
  text-align: center;

}
.pendingInvites {
  display:block;
  padding: 0;
  width: 25vw;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  height: 3.5vh;
}

.invitesList {
  width: 100%;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.addButton {
  margin-left: 6px;
  margin-top: 0px;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}

#record {
  width: 5vw;
  height: auto;
}

#loginForm {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fffcf7;
}

.logo {
  height: 12vh;

  grid-area: logo;
}

.header {
  display: grid;
  grid-template-columns: 1fr 0.35fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo signed" "logo logout";
  text-align: left;
  margin-left: 13vh;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
  height: 8vh;
  margin-top: 1vh;
}
.logged-out-header {
  text-align: center;
  margin-top: 5vh;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
}

.logged-out-logo {
  height: 15vh;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#logout {
  grid-area: logout;
  margin-left: 0.9vw;
  height: 4vh;
  justify-self: left;
  width: 25vw;
  margin: 0;
}
.fullUserList {
  background-color: #9dd9d2;
}

.user-add-container {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: "form btn";
  align-items: center;
}

.user-adder-form {
  grid-area: form;
}

.addButton {
  grid-area: btn;
  width: 5vw;
  margin: 0 0 0 1vw;
}

.user-title {
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  font-size: 1.3rem;
  margin-left: 0.5vw;
  text-align: center;
}

.singleUserListBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 53px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 2px;
}

.makeAdmin,
.removeFromWorkspace {
  height: 48.5px;
  width: 80px;
}

.workspace-file-view {
  height: 60vh;
}

.del-workspace-btn {
  display: inline-block;
  height: 3vh;
  width: 20vw;
}

.space-header {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  grid-area: head;
  font-size: 1.3rem;
  text-align: center;
}

button {
  background-color: rgb(35, 149, 241);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 26%;
  border-radius: 5px 5px 5px 5px;
}

.container1 {
  width: 60%;
  padding: 16px;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 25%;
  left: 28%;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
}

.log-ins {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
}
input::placeholder {
  color: black;
}

.modal{
  top: 30vh;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.singleWorkspaceItem:hover {
  background-color: lightskyblue;
}


.dashbord {
  display: grid;
  margin-top: 7vh;
  width: 100%;
  height: 79vh;
  grid-auto-columns: 1fr 2fr 1fr;
  grid-template-areas: "workspace files users";
}

.workspaces {
  grid-area: workspace;
}

.file-section-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  width: 49vw;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: files;
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  border-radius: 5px 5px 5px 5px;
}

.file-section-container::-webkit-scrollbar {
  width: 0 !important;
}
.record-img {
  border: 0;
  width: 2.8vw;
}
.recording-ani {
  border: 0;
  width: 3vw;
  height: 4vh;
}

.no-files {
  width: 49vw;
}

.file-item {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr 0.2fr 0.6fr 0.2fr 0.4fr;
  grid-template-areas: "file-icon name type decrypt mic upload";
  justify-items: left;
  align-items: center;
  margin-bottom: 0.5vh;
  margin-left: 0.2vw;
  width: 48.5vw;
}

.file-icon {
  grid-area: file-icon;
  width: 2vw;
}

.file-type {
  grid-area: type;
  width: 5vw;
  margin: 0;
}

.file-name {
  grid-area: name;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 15vw;
  margin: 0;
}


.decrypt-btn {
  grid-area: decrypt;
  width: 7vw;
  margin: 0px;
  height: 3.5vh;
  justify-self: center;
}
.mic-decrypt {
  grid-area: mic;
  width: 3vw;
  height: 3.5vh;
}
.upload-decrypt {
  grid-area: upload;
  width: 8vw;
  color: transparent;
}



.workspacesUserCol {
  grid-area: users;
  background-color: #9dd9d2;
  border-radius: 5px 5px 5px 5px;
  overflow-y: scroll;
}

.workspacesUserCol::-webkit-scrollbar {
  width: 0 !important;
}

.workspaceList,
.workspaceUserList {
  margin-bottom: 5px;
}

.singleWorkspaceItem {
  border-color: lightgrey;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0.75rem;
  width: 15vw;
  border-radius: 5px 5px 5px 5px;
}

.userItemRow {
  flex-wrap: nowrap;
}

.container {
  display: inline-block;
  width: 50vw;
}
.child {
  width: 50%;
}

.alert1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 296px;
  height: 52px;
  top: 140px;
  left: 28.9%;
  border-radius: 5px 5px 5px 5px;
}

.alert2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 296px;
  height: 52px;
  top: 395px;
  left: 28.7%;
  border-radius: 5px 5px 5px 5px;
}

.overallDashboard {
  margin-left: 10px;
  margin-right: 10px;
}

.invitesDiv {
  height: auto;
  width: 25vw;
  text-align: center;
  float: right;
}

.acceptRejectSpan {
  padding: 5px;
}

.workspaceListCol {
  grid-area: workspace;
  background-color: #9dd9d2;
  width: 24.5vw;
  padding-left: 20px;
  padding-right: 0;
  margin-right: 0;
  height: 80vh;
  overflow-y: scroll;
}

.workspaceListCol::-webkit-scrollbar {
  width: 0 !important;
}

.workspaceTitle {
  margin-top: 20px;
  margin-bottom: 30px;
}

div.form-group {
  width: 20vw;
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 0px;
  width: 315px;
}

.file-option-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30vw;
  margin: 0 auto;
}

.audio-upload-section {
  border: 1px dotted black;
  margin-bottom: 1vh;
  grid-area: audio-upload;
}

.file-upload-section {
  display: block;
  text-align: center;
  width: 48.5vw;
  margin-left: 0.3vw;
  margin-bottom: 0.5vh;
}

.recording-section {
  grid-area: mic;
  margin-bottom: 0.5vh;
}

.usersTitle {
  margin-top: 20px;
  margin-bottom: 22px;
}

.workspace-add-input {
  background-color: white;
  width: 15vw;
  padding: 0px 0px 0px 1vw;
}

.workspaceAdder {
  display: grid;
  margin-top: 2vh;
  margin-bottom: 1vh;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "wsaddform wsaddbtn";
  justify-items: center;
  align-items: center;
}

.workspace-add-input {
  grid-area: wsaddform;
  margin-right: 0;
  padding: 0;
}

.workspace-adder-btn {
  grid-area: wsaddbtn;
  margin: 0;
  width: 5vw;
}

.workspace-form-group.form-group {
  grid-area: wsaddform;
  margin: 0;
  width: 16vw;
  padding: 0;
}

.nav-link {
  position: static;
}

nav.nav.nav-tabs {
  height: 6vh;
  color: white;
}
a.nav-item.nav-link {
  border: 1px solid rgb(255, 255, 255);
}

.mic-encrypt-container {
  width: 45vw;
  height: 15vh;
  margin: 0 auto 2vh auto;
  align-content: center;
  border-radius: 10px;
}
.encrypt-mic {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: "mic-logo" "playback";
  padding-left: 1vw;
  justify-items: center;
  align-content: center;
}

.not-recog-msg {
  grid-area: mic-text;
}
.playback {
  margin: 0 auto;
  grid-area: playback;
  justify-items: center;
  align-content: center;
}
.encrypt-mic-logo {
  grid-area: mic-logo;
}

.create-account-modal{
  background-color: #fefefe;
  margin: 5% auto auto auto;
  width: 58.5%;
  padding-left: 5px;
  position: fixed;
  border: none;
  top: 50%;
  left: 28.5%;
}
